.container {
    display: flex;
    flex-direction: column;
    max-height: 100%;

    :global {
        .ant-card {
            &-head {
                flex: 0 0 58px;
                text-align: left;
                padding-right: 4px;
            }
            &-body {
                padding: 10px;
                overflow: auto;
            }
        }
    }
}

.card {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}